<footer class="flex flex-col items-center py-8 bg-white text-[#656768] gap-2 mb-36">
    <h1 class="text-6xl font-serif">W & H</h1>
    <hr class="w-52 my-2 border-t border-gray-400" />
    <p class="text-xl font-sans tracking-[3px]">07.12.2024</p>
  </footer>