<section>
    <div class="container">
        <div class="content">
            <div class="date">
                <span>December</span>
                <span>07, 2024</span>
            </div>
        </div>
    </div>
    
    <div class="separator"></div>
    <div class="container">
        <div class="content">
            <div class="date">
                <span>Choloma</span>
                <span>Honduras</span>
            </div>
        </div>
    </div>
</section>
<button class="button" onclick="window.open('https://wa.me/+50432009536?text=Hola,%20quiero%20confirmar%20mi%20reservación!', '_blank')">RSVP</button>

<style>
    /* Contenedor principal */
    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        padding-left: 120px;
        padding-right: 120px;
        padding-bottom: 10px;
    }

    /* Contenido individual */
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    /* Separador */
    .separator {
        height: 300px;
        border-left: 1px solid #6d6d6d;
        margin: 0 20px;
    }

    /* Fecha */
    .date {
        line-height: 1.3;
        color: #656768;
        font-family: 'Libre Baskerville', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 36px;
        display: flex;
        flex-direction: column;
    }

    /* Botón */
    .button {
        display: block;
        margin: 20px auto;
        font-family: 'Libre Baskerville', sans-serif;
        text-transform: uppercase;
        line-height: 1.25;
        padding: 0.75rem 1.25rem;
        font-size: 14px;
        font-weight: 600 !important;
        color: #fff;
        background-color: #656768;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }

    .button:hover {
        background-color: #4a4a4a;
    }

    /* Responsivo para teléfonos */
    @media (max-width: 600px) {
        section {
            display: none;
        }


        .button {
            font-size: 12px;
            padding: 0.5rem 1rem;
        }
    }
</style>