<div class="flex flex-col justify-center items-center gap-4 p-4">
    <h1 class="leading-none mt-6 mx-2 font-serif text-[#656768] text-2xl sm:text-[32px] uppercase tracking-[2px] font-normal">
        Wedding Day
    </h1>
    
    <div class="flex flex-col justify-center items-center gap-1 uppercase font-sans tracking-[2px] text-base sm:text-lg font-normal text-[#656768] mt-2">
        <span>Diciembre 07, 2024</span> 
        <span>5:00 pm</span> 
    </div>
    
    <div class="flex flex-col items-center mt-2 mb-6 text-[#656768] tracking-[1.5px] text-sm sm:text-lg font-sans font-normal italic text-center">
        <span>"Te agradeceremos llegar antes</span>
        <span>para no perderte ningún momento especial.</span>
        <span>Nuestro "Sí acepto!" tiene un horario.</span>
        <span>Cada minuto cuenta en esta celebración de amor."</span>
    </div>
    
    <div class="flex flex-col items-center mt-2 mb-6 text-[#656768] tracking-[1.5px] text-sm sm:text-lg font-serif font-normal italic text-center">
        <span>Usa Waze para llegar a:</span>
        <span class="mb-4">Iglesia Piercho, Choloma, Cortés</span>
        
        <a
          href="https://waze.com/ul/hd4c2yd324"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 transition duration-200 ease-in-out"
        >
            <img src="waze.png" alt="Waze Logo" class="w-5 h-5" />
            <span></span>
        </a>
    </div>

    <div class="flex justify-center w-full mb-6">
        <img src="portada.jpg" alt="Portada de la boda" class="w-3/4 max-w-full h-auto block align-middle rounded-md shadow-md sm:w-1/2">
    </div>
    
    <div class="flex flex-col items-center mt-2 mb-6 text-[#656768] tracking-[1.5px] text-sm sm:text-lg font-serif font-normal italic text-center">
        <span>Código de vestimenta: Formal</span>
        <span>No utilices: vestido blanco o negro</span>
    </div>
</div>
