---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Reservation from '../components/sections/Reservation.astro';
import WeddingDay from '../components/sections/WeddingDay.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout title="Wedding William y Heidy">
	<main>
		<Hero />
		<Reservation />
		<WeddingDay />
		<Footer />
		
	</main>
</Layout>

<style>
	main{
		padding: auto;
		margin: auto;
		width: 100%;
	}
</style>
