---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Reservation from '../sections/Reservation.astro';
import WeddingDay from '../sections/WeddingDay.astro';
---

<Layout title="Wedding William y Heidy">
	<main>
		<Hero />
		<Reservation />
		<WeddingDay />
	</main>
</Layout>

<style>
	main{
		padding: auto;
		margin: auto;
		width: 100%;
	}
</style>
