---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro"
import { title, date, place, city } from "../hooks/weddingDate"
---
<Layout title=''>
    <Header title = "Our Story" />
    <section class="">
        <div class="flex flex-col items-center text-[#656768]">
            <div class="bg-no-repeat bg-center bg-contain flex flex-col items-center w-full h-full">
                <img src="fondo-flores2.webp" alt="" class="w-full m-auto h-auto block">             
                
            </div>
            <div class="flex flex-col items-center">
                <h1 class="text-6xl text-center font-serif" >{title}</h1>
                <p class="pt-8 text-base font-sans font-normal uppercase tracking-[3px]">{date} · {place}</p>
                <p class=" text-base font-sans font-normal uppercase tracking-[3px] pb-8">{city}</p>
            </div> 
            <div>
                <h2 class="text-3xl text-center uppercase font-serif font-normal text-[rgb(101, 103, 104)] tracking-[3px] py-8">¿Cómo comenzo nuestro amor?</h2>
            </div>
            <div>
                <img class="px-2 py-4" src="photo_pareja2.jpg" alt="foto del ministerio de campamento">
            </div>
            <div class="flex flex-col ">
                <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                    A lo largo del tiempo crecimos  juntos pero sin la cercanía , en la misma iglesia, en el mismo ministerio de jóvenes , luego en el ministerio de campamento pero nuestra distancia fue normal, ambos con un grupo diferente de amigos.      
                </p>
                <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                    En el año 2022 logramos convivir un poco más de cerca con un mismo grupo de amigos, hermanos sirviendo al Señor,  siendo amigos sinceros sin ningún indicio a noviazgo, ¡al menos en ese entonces!
                </p>
            </div>
            <div>
                <img class="px-2 py-4" src="photo_1.jpg" alt="foto del ministerio de campamento">
            </div>
            <div class="flex flex-col ">
                <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                    En el año 2023 continuamos siempre enfocados en el servicio a nuestro Señor Jesucristo     
                </p>
            </div>
            <div>
                <img class="px-2 py-4" src="photo_2.jpg" alt="foto del ministerio de campamento">
            </div>
        </div>
        <div class="flex flex-col ">
            <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                Mientras tanto cada uno oraba y pedía al Señor en lo secreto por la persona indicada en nuestras vidas, Dios siempre escucha nuestras oraciones y lo que no sabíamos era que ambos orábamos por la misma petición  y  esperando en Dios al mismo tiempo.      
            </p>
            <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                Con el pasar del tiempo ya no solo era una oración sino la pregunta ¿Señor quien es mi esposo o esposa? 
                Dios contesta nuestras oraciones siempre y su respuesta fue en el tiempo Perfecto  de Él,
                Y nos dio la respuesta inesperada pero acompañada de su respaldo y fue su Espíritu Santo que comenzó a ministrar nuestras vidas con un nuevo soplo de vida que cambió nuestra razón lógica y esos amigos por fin pudieron verse y darse cuenta que algo nuevo estaba cambiando dentro de sus corazones, eran corazones enamorados y atraídos el uno por el otro , ¿quien lo creería?  Ni nosotros lo hubiéramos pensado pero si estaba en los planes de Dios tenía que suceder y sucedió como El lo sabe hacer , con maravillas, con su respaldo y fidelidad en nuestras en vidas.
            </p>
            <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                Un día normal saliendo del trabajo, sabiendo que como era costumbre nos vendríamos juntos al salir del trabajo, inesperadamente William esperaba con un ramo de flores a su ahora prometida esposa y con una pregunta: ¿Quieres hacer la voluntad de Dios conmigo?
            </p>
            <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                Esa fue la pregunta que marcó nuestras vidas y de ahí en adelante marcamos el inicio de nuestro noviazgo con un ramo de cinco rosas rojas simbolizando Dios , nuestras dos familias  y nosotros dos. Significando que un día esas dos rosas separadas sería solo una, siendo Dios quien nos une.
            </p>
            <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                El 22.06.2023 comenzó nuestro noviazgo haciendo oficial la noticia a nuestros padres y autoridades de la iglesia.
            </p>    
        </div>
        <div>
            <img class="px-2 py-4" src="photo_3.jpg" alt="foto del ministerio de campamento">
        </div>
        <div class="flex flex-col ">
            <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                En este año 2024 iniciamos construyendo nuestro sueño juntos de casarnos, Dios desde el comienzo nos abrió el camino llenándonos  de bendiciones, fuimos caminando con la ayuda y dirección de Dios.       
            </p>
            <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                Nos comprometimos el 18 de octubre.
                Frente a  Dios , familiares y amigos . Un  momento lleno de emoción entre lágrimas y alegrías. 
            </p>
        </div>
        <div>
            <img class="px-2 py-4" src="photo_4.jpg" alt="foto del ministerio de campamento">
        </div>
        <div class="flex flex-col ">
            <p class="pt-2 pb-2 text-normal px-6 font-serif italic tracking-[3px] text-sm">
                ¡Nuestra historia continúa!       
            </p>
            <blockquote class="pt-2 pb-2 px-6 text-normal font-serif text-base italic tracking-[3px] pl-4 my-4">
                “Y si alguno prevaleciere contra uno, dos le resistirán; y cordón de tres dobleces no se rompe pronto.”
                <cite class="block mt-2 text-right font-serif px-6">— Eclesiastés 4:12</cite>
            </blockquote>
        </div>
        <div>
            <img class="px-2 py-4" src="photo_5.jpg" alt="foto del ministerio de campamento">
        </div>
    </section>

</Layout>




<style>

    
</style>